﻿
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css">
<style>
    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #0c5ca1;
      color: rgb(9, 48, 107)55, 255, 255);
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }

    #myBtn:hover {
      background-color: #777;
    }
  </style>
  
<section>
    <div class="container">
        <h2>BIENVENIDOS A PRIMARY LIBRARY</h2>
        <img src="https://img.freepik.com/vector-premium/ilustracion-vector-bolso-escuela-utiles-escolares_43633-3642.jpg"
        class="logo" >
    </div>
</section>
<br>
<br>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/vector-gratis/fondo-plano-regreso-escuela-utiles-escolares_23-2149452367.jpg" class="imagen2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://previews.123rf.com/images/yulia87/yulia871709/yulia87170900009/86383784-conjunto-de-vector-de-%C3%BAtiles-escolares-fondo-de-regreso-a-la-escuela-con-papeler%C3%ADa.jpg" class="imagen2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://insumosfirstpro.com/wp-content/uploads/2023/04/utiles-escolares-aumentan-un-12-en-Peru.jpg" class="imagen2" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<section>
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 >¿Quieres ver más?</h2>
        <p >Explora nuestro catálogo de nuestro útiles a buenos preciazos</p>
        <a href="Catalogo" class="btn btn-primary">Ver catálogo</a>
      </div>
    </div>