@{
    ViewData["Title"] = "¿Quienes Somos?";
}
<link rel="stylesheet" href="~/css/index.css">
<h2>@ViewData["Title"]</h2>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/vector-gratis/fondo-plano-regreso-escuela-utiles-escolares_23-2149452367.jpg" class="imagen2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://previews.123rf.com/images/yulia87/yulia871709/yulia87170900009/86383784-conjunto-de-vector-de-%C3%BAtiles-escolares-fondo-de-regreso-a-la-escuela-con-papeler%C3%ADa.jpg" class="imagen2" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://insumosfirstpro.com/wp-content/uploads/2023/04/utiles-escolares-aumentan-un-12-en-Peru.jpg" class="imagen2" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div style="width: 33.33%;">
    <div style="background-color: rgb(192, 242, 242); padding: 10px;">
      <p>¿Quiénes somos?</p>
        <p>Somos una empresa que se basa en la compra de útiles escolares, importados del extranjero de la mejor calidad que hay en el mercado y de marcas reconocidas, como Artesco, FaberCastell, etc.
      </p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <div style="background-color: rgb(192, 242, 242); padding: 10px;">
      <p>Misión</p>
        <p>En Library Primary, nuestra misión es tener la confianza plena de los estudiantes, padres y educadores al proporcionar utiles escolares de calidad excepcional. 
      </p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <div style="background-color: rgb(192, 242, 242); padding: 10px;">
      <p>Visión</p>
        <p>Nuestra visión en Library Primary es forjar un camino hacia el éxito educativo al convertirnos en una tienda de referencia, reconocida por ofrecer una cuidadosa selección de utiles escolares que potencien la creatividad y el conocimiento en los estudiantes.
      </p>
    </div>
  </div>
</div>
